body {
    width: 0 auto;
}

.header-nav-bar {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    background-image: url("assets/about/bcsunset.jpg");
    background-position: top;
}

#home-page-header {
    padding-left: 2%;
    padding-top: 1%;
}

#home-page-header-text {
    color: white;
    font: 400% bold Garamond;
}

#home-page-nav-bar {
    padding-left: 2%;
    padding-bottom: 2%;
}

.nav-button {
    margin: 0.5%;
    padding: 0.25%;
    cursor: pointer;
}
