main {
    font: 100% Arial;
}

.header-nav-bar {
    width: 100%;
    text-align: left;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

#home-page-header {
    padding-left: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
    background-image: url("assets/about/bcsunset.jpg");
    background-position: top;
}

#home-page-header-text {
    color: white;
    font: 300% bold Garamond;
}

#home-page-nav-bar {
    display: none;
}

.nav-button {
    padding: 0.25%;
    cursor: pointer;
    font: 100% Arial;
    color: white;
    display: block;
    background-color: maroon;
    margin-left: auto;
    margin-right: 0;
}

.nav-button:focus {
    color: maroon;
    background-color: white;
}

.open-nav {
    position: fixed;
    display: block;
    top: 10px;
    right: 10px;
}

#nav-menu {
    display: none;
    position: fixed;
    top: 55px;
    right: 10px;
}

.open-nav:focus + #nav-menu {
    display: block;
}

.open-nav:focus > .nav-icon-bar {
    background-color: maroon;
}

.nav-icon-bar {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 6px;
}

.section-header {
    font: 200% bold Garamond;
    color: maroon;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: maroon;
    padding: 1%;
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 4%;
}

.flex-slideshow {
    display: flex;
    flex-flow: column wrap;
}

.item-desc {
    margin-top: 1%;
}

@keyframes auto-slides {
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

[class^=slideshow-] {
    width: 25%;
    height: 0;
    padding-bottom: 60%;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    position: relative;
}

.slideshow-2 img {
    position: absolute;
    animation: auto-slides 10s infinite;
    opacity: 0;
    width: 100%;
    height: auto;
}

.slideshow-3 img {
    position: absolute;
    animation: auto-slides 15s infinite;
    opacity: 0;
    width: 100%;
    height: auto;
}

.slideshow-4 img {
    position: absolute;
    animation: auto-slides 20s infinite;
    opacity: 0;
    width: 100%;
    height: auto;
}

.slideshow-5 img {
    position: absolute;
    animation: auto-slides 25s infinite;
    opacity: 0;
    width: 100%;
    height: auto;
}

.slideshow-2 img:nth-child(1) {
    animation-delay: 0s;
}

.slideshow-3 img:nth-child(1) {
    animation-delay: 0s;
}

.slideshow-4 img:nth-child(1) {
    animation-delay: 0s;
}

.slideshow-5 img:nth-child(1) {
    animation-delay: 0s;
}

.slideshow-2 img:nth-child(2) {
    animation-delay: 5s;
}

.slideshow-3 img:nth-child(2) {
    animation-delay: 5s;
}

.slideshow-4 img:nth-child(2) {
    animation-delay: 5s;
}

.slideshow-5 img:nth-child(2) {
    animation-delay: 5s;
}

.slideshow-3 img:nth-child(3) {
    animation-delay: 10s;
}

.slideshow-4 img:nth-child(3) {
    animation-delay: 10s;
}

.slideshow-5 img:nth-child(3) {
    animation-delay: 10s;
}

.slideshow-4 img:nth-child(4) {
    animation-delay: 15s;
}

.slideshow-5 img:nth-child(4) {
    animation-delay: 15s;
}

.slideshow-5 img:nth-child(5) {
    animation-delay: 20s;
}

@media only screen and (min-width: 768px) {
    .header-nav-bar {
        background-image: url("assets/about/bcsunset.jpg");
        background-position: top;
    }
    
    #home-page-header {
        padding-bottom: 0%;
        text-align: left;
    }
    
    #home-page-header-text {
        font: 400% bold Garamond;
    }
    
    #home-page-nav-bar {
        padding-left: 2%;
        padding-bottom: 2%;
        display: block;
    }

    .nav-button {
        margin: 0.5%;
        display: inline;
    }

    .open-nav {
        display: none;
    }

    .flex-container {
        flex-flow: row;
        align-items: stretch;
    }

    .flex-slideshow {
        flex-flow: row wrap;
    }

    .item-desc {
        margin-top: 0;
        margin-left: 2%;
        padding-left: 2%;
        border-left: 1px solid;
        border-color: maroon;
    }

    .project-desc {
        margin: 1%;
    }
}
